{% extends 'base.html.twig' %}

{% block title %} Сообщения {% endblock %}

{% block body %}
    {% for post in posts %}
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ post.postTitle }}</h3>
                <p>{{ post.postText|raw }}</p>
                <p>{{ post.createdAt | date (" D M Y H: i: s ") }}</p>
                <hr>
                <a href="{{ path('show', {'id': post.id}) }}" class="btn btn-primary">Читать дальше</a>
                <hr>
                <p>Количество комментариев: {{ post.commentsPost|length }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
